<div class="contentDiv" id="invoicePdf" style="display: none;">
    <div class="billheader">
        <div class="headline">
            <!-- <img src="/images/logo3.png" alt="" style="z-index: -10; position: relative; top: 35px; align-self: flex-start; height: 100px; width: 100px;"> -->
            <p >Tax Invoice</p>
            <h2 ><%= user.store %></h2>
            <p >Mobile: <%= user.mobile %>, Gmail: <%= user.mail %></p>
        </div>
    </div>

    <div class="partner-details">
        <p><%= user.address %></p>
    </div>
    
    <div class="gst-pan">
        <p>GSTIN: <%= user.gst %></p>
        <p>PAN NO: <%= user.pan %></p>
    </div>


    <!-- <div class="partner-details">
        <p>Deals in: Stationary, Grocery, etc</p>
    </div> -->

    <div class="date-invoice-number">
        <p>Invoice Number: <span id="invNo"></span></p>
        <p>Invoice Date: <span id="invDate"></span></p>
    </div>

    <div class="billing-details">
        <div class="recepientDiv">
            <p>Recepient: <span id="recepientName"></span></p>
        </div>
        <div class="address-details">
            <p>State: <span id="recepientState"></span></p>
            <p>State Code: <span id="recepientStateCode"></span></p>
        </div>
        <p style="margin-left: 10px;">GSTIN: <span id="recepientGst"></span></p>
    </div>

    <div class="item-table">
        <table id="itemTable" class="itmeTable">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Item</th>
                    <th>HSN No.</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Gst (%)</th>
                    <th>Amount (Rs.)</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="6"></td>
                    <td>Grand Total:</td>
                    <td id="totalBill"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="footer">
        <h3><%= user.store %></h3>
        <p>___________________</p>
        <p>Authorised Signatory</p>
    </div>
</div>